@tailwind base;
@tailwind components;
@tailwind utilities;

.MuiInputBase-root {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.MuiSelect-select {
    padding: 0;
    margin: 0;
}